<div class="footer">
  <div class="row">
    <div class="col-lg-6">
      <p>Copyright Alan Vergara 2022</p>
    </div>
    <div class="col-lg-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="email" aria-label="email" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">Subscribe</span>
      </div>
    </div>
  </div>
</div>
